.form {
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding: calc(var(--pad)*4);
	border-radius: 10px;
	background-color: var(--bg-color);
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
	color: var(--f-color);
}

.wrapper {
	position: fixed;
	min-width: 100%;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form h2 {
	font-size: var(--h2-f-size);
	line-height: var(--h2-line-height);
}